@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --off-white: #f6f6f6;
  --bill: #111344;
  --dusk: #acbafc;
  --dawn: #76aeff;
  --sunflower: #ffa53b;
  --danger: #ff0000;
  --yellow: #ffe5a3;
  --turqoise: #c9eaf4;
  --beige: #fceae1;
  --exercise: #f07a24;
  --game: #9b2fcd;
  --books: #333333;
  --lifestyle: #4b5cf1;
  --entertainment: #d01616;
  --music: #309328;
  --grey-10: #c5c2c2;
  --grey-50: #8c8686;
  --grey-100: #737373;
  --menu: #acbafc;
  --logo: #111344;
  --login-surface: #111344;
  --loginbar-foreground: #f6f6f6;
  --loginbar-surface: #8c8686;
  --button-surface: #f6f6f6;
  --searchbar-foreground: #ffffff;
  --button-foreground: #111344;
  --homescreen-bg: #f6f6f6;
  --gradient-top: #f2f2f2;
  --gradient-bottom: #acbafc;
  --loading-gradient-top: #c1def0;
  --loading-gradient-bottom: #acbafc;
}

.darkTheme {
  --menu: #111344;
  --logo: #f6f6f6;
  --login-surface: #f6f6f6;
  --loginbar-foreground: #737373;
  --loginbar-surface: #c5c2c2;
  --button-surface: #111344;
  --searchbar-foreground: #f6f6f6;
  --button-foreground: #f6f6f6;
  --homescreen-bg: #111344;
  --gradient-top: #111344;
  --gradient-bottom: #000000;
  --loading-gradient-top: #111344;
  --loading-gradient-bottom: #000000;
}
